// /styles/main.scss

@import '_global.scss';

$pad: 10px;
$offset: 20;

#component{
	max-width: 900px;
	margin: 0 auto 50px;
	background-color: $bg;
	color: $gray;
	border-radius: 5px;
	padding: 20px;

	.grid{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 50px auto;
		justify-items: flex-start;
	    align-items: center;
	    border-radius: 2px;
	    padding: 5px 0;

	    .show{ display: initial; }
	    .showOnHover{ display: none; }

	    .explain{
	    	color: $mild;
	    }

	    &.standout{ background-color: $bgLight; }

		&:hover{ 
			background-color: #eee; 
			color: $mild;

			.nohighlight{ color: $gray; }

			.show{ display: none; }
			.showOnHover{ display: block; }

			.social{
				.icon{ color: $mild; }

				.social-descrip{ color: $purp; }

				[class*="fa-"]{ 
					color: $mild; 
					font-size: 22px;
				}
			}	
		}

		a{
			text-decoration: none;
			color: $gray;
		}

		> div{
			&.lineCount{ padding: 0 0 0 $pad; }
			&.code{ padding: 0 0 0 $pad; }
			&.prop{ padding: 0 0 0 $pad+($offset*1); }
			&.objProp{ padding: 0 0 0 $pad+($offset*2); }
			&.objProp2{ padding: 0 0 0 $pad+($offset*3); }
			.componentName{ font-size: 18px; }
			.propname{ color: #fff; }
			.myname{
				font-size: 24px;
				color: $alert;
			}

		}
	}
}

// small and under
@media only screen and (max-width: 900px){
	#component{
		border-radius: 0;
		margin: auto;
		padding: 40px 60px 40px 10px;
	}		
}
